/* selects all
*{

} */



body{
    background-color: lemonchiffon;
}

.old{
    width: 300px;
    height: 300px;
    border: 22px solid black;
    /* margin-left: 12px; */
}

.new{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 22px solid black;
}